<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="container">

        <nav>
          <ul>
            <li class="link">
              <a href="/"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="link">
              <a href="about"
                ><i class="fa-solid fa-address-card"></i> About</a
              >
            </li>
            <li class="link">
              <a href="contact"
                ><i class="fa-solid fa-phone"></i> Contact</a
              >
            </li>
          </ul>
        </nav>
                <div class="logo">
          <a href="/"><img src="/images/logo-sample.png" alt="" /></a>
        </div>
      </div>
</body>
</html>