<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Profile</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #363535d0;
    color: #fff;
    padding: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    border-radius: 50%;
    margin-right: 20px;
    max-width: 100px;
}

.details {
    flex: 1;
}

.options {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.options h2 {
    color: #333;
}

.options ul {
    list-style: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
}

.options a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #353434;
    color: #fff;
}

    </style>
</head>
<body>
{{>navbar}}
    <header> 
        <div class="profile-info">
            <img src="profile-photo.jpg" alt="Profile Photo">
            <div class="details">
                <h1>Your Name</h1>
                <p>Age: 30</p>
                <p>Sex: Male</p>
                <p>Customer ID: 12345</p>
                <p>Expiry Date: 2025-01-01</p>
            </div>
        </div>
    </header>

    <section class="options">
      <div class="services"><button type="submit">Services</button></div>
        <div class="labtest"><button type="submit">Health report</button></div>
        <div class="services"><button type="submit">Medicine</button></div>
        <div class="labtest"><button type="submit">Lab tests</button></div>
        <div class="services"><button type="submit">Service completion</button></div>
        <div class="services"><button type="submit">Partner Service</button></div>
        <div class="services"><button type="submit">Feedback and complaint</button></div>
    </section>

</body>
</html>
