<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Profile</title>
    <link rel="stylesheet" href="css/style2.css">
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #840982;
    color: #fff;
    padding: 20px;
}

.profile-info {
      display: flex;
      align-items: center;
    }

.profile-info img {
    margin-right: 20px;
    max-width: 100px;
    border: 1px solid black;
    }

 .logo {
      margin-right: 30px;
      width: 300px;
      height: 200px;
    }
.details {
      flex: 1;
      margin-left: auto;
      margin: 4%;
    }

    @media only screen and (max-width: 600px) {
      .profile-info {
        flex-direction: column;
      }

      .details {
        margin-left: 0;
      }

      .logo {
        margin-right: 0;
      }
    }
.options {
      display: flex;
      flex-direction: column;
      gap: 10px;
    justify-content: center;
      align-items: center;
      height: 50vh;
      margin-top: 3%;
}
.optionbtn{
    padding: 10px;
    background-color: #5a79d1;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    width: 30rem;
}
@media only screen and (max-width: 600px) {
  .optionbtn {
    width: 100%;
  }
}
.optionbtn:hover{
    background-color: #5da8e7;
}
.frame {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 2px solid black;
        background-color: #eda4e5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        overflow: hidden;
        box-shadow: 0px 0px 50px 1px #c9e7f2;
        border: none;
        position: relative;
    }

    </style>
</head>
<body>
{{>navbar}}
    <header> 
        <div class="profile-info">
            <div class="logo"></div>
                <div class="frame">
            <div class="rotate"></div>
            <div class="user"></div>
        </div>            
            <div class="details">
                <h1>Your Name</h1>
                <p>Age: 45</p>
                <p>Sex: Male</p>
                <p>Customer ID: 12345</p>
                <p>Expiry Date: 2025-01-01</p>
            </div>
        </div>
    </header>

    <section class="options">
        <button class="optionbtn"  type="submit">Services</button>
        <button class="optionbtn" type="submit">Health report</button>
        <button class="optionbtn" type="submit">Medicine</button>
        <button class="optionbtn" type="submit">Lab tests</button>
        <button class="optionbtn" type="submit">Service completion</button>
        <button class="optionbtn" type="submit">Partner Service</button>
        <button class="optionbtn" type="submit">Feedback and complaint</button>
    </section>

</body>
</html>
