<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="css/style3.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 60px;
            border-radius: 13px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 600px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 20px;
            margin: 10px 0;
            box-sizing: border-box;
            border-radius: 8px;
            font-size: 24px;
            background-color: rgba(255, 255, 255, 0.5);
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 24px;
        }
        .red{
            background-color:red;
        }
        .button-pos{
            
        }
    </style>
</head>
<body>

    <form action="/registration" method="post">
        <h2>Register</h2>
        <label for="firstname">
            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="First Name"
              required
            />
          </label>
          <label for="lastname">
            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Last Name"
              required
            />
          </label>

          <label for="Email">
            <input
              type="email"
              name="email"
              id="Email"
              placeholder="Email"
              required
            />
          </label>

          <label for="Password">
            <input
              type="password"
              name="password"
              id="Password"
              placeholder="Password"
              required
            />
          </label>
        
          <label for="password">
            <input
              type="password"
              name="conpassword"
              id="password"
              placeholder="Confirm Password"
              required
            />
          </label>
        <div class="button-pos">
        <button type="submit">Register</button>
        <button class ="red" type="submit">SOS</button>
        <button type="submit"><a class="blue" href="index"></a>Login</button>
        </div>

    </form>

</body>
</html>
